@charset "UTF-8";

.wecref {
    padding: 7em 0 3.333em 0;
    font-size: clamp(0.45rem, 1.5625vw, 30px);
}

.wecref .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wecref .title img {
    width: 16.4em;
}

.wecref .title p {
    margin-top: 1.5em;
    margin-bottom: 3em;
    font-family: "NanumSquareEB";
    font-size: 1em;
    color: #686868;
}

.wecref .description {
    text-align: center;
    font-size: 1em;
    font-family: "NanumSquareR";
    color: #686868;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wecref .description p:nth-child(2) {
    margin-top: 1em;
}

.wecref .staff {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.81em;

    margin: 3em 0;
}

.wecref .staff img {
    width: 4em;
}
