@charset "UTF-8";

#contents-main {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents-main > picture {
    display: block;
    width: 100%;
}

#contents-main > picture img {
    display: block;
    width: 100%;
    height: auto;
}
