@charset "UTF-8";

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8e2fea;

    color: #ffffff;
}

footer .footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 1.5em 0 0 0;
}

footer .footer-links li:nth-child(2) {
    margin: 0 1em;
}

footer .footer-links li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .footer-links img {
    max-width: 60px;
    width: 2em;
    filter: opacity(0.5) drop-shadow(0 0 0 #a56cff);
}

footer .footer-info {
    width: 100%;
    background-color: #8100e1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 0em;
}

footer .footer-info .info-list {
    padding: 0;
}

footer .footer-info .info-list:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer .footer-info .info-list:nth-child(2) img {
    max-width: 202px;
    width: 9em;
}

@media screen and (max-width: 1868px) {
    footer {
        font-size: .9em;
    }
}

@media screen and (max-width: 1685px) {
    footer {
        font-size: .8em;
    }
}

@media screen and (max-width: 902px) {
    footer {
        font-size: .7em;
    }
}

@media screen and (max-width: 795px) {
    footer .footer-info {
        font-size: 1.3em;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    footer .footer-info {
        font-size: 1em;
    }
}
