@charset "UTF-8";

html {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-size: clamp(10px, 1.5vw + 1.2px, 30px);
}

body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: "NanumSquareB";
    word-break: keep-all;
}

body ul {
    list-style: none;
}

body a {
    text-decoration: none;
}

body h1,
body p {
    margin: 0;
}

.waveDeco {
    background-image: url(images/whiteHill.png);
    background-size: contain;
    background-repeat: repeat-x;
    background-position: center bottom;
    width: 100%;
    height: 3em;
    margin-top: -2em;
}

.waveDeco.darkturquoise {
    background-image: url(images/darkturquoiseHill.png);
}

.waveDeco.indigo {
    background-image: url(images/indigoHill.png);
}

.waveDeco.studyBook {
    background-color: #ff80c7;
    mask-image: url(images/whiteHill.png);
    mask-size: contain;
    mask-repeat: repeat-x;
    mask-position: center bottom;
}

.waveDeco.rotate180 {
    transform: rotate(180deg);
    margin-bottom: -1.5em;
    margin-top: 5em;
}

.indigoTxt {
    color: #5F1AA8;
}

.mediumpurpleTxt {
    color: #B480FF;
}

.plumTxt {
    color: #DBC0FF;
}

.darkturquoiseTxt {
    color: #00cfc7;
}

.hotpinkTxt {
    color: #FF80C7;
}

.yellowTxt {
    color: yellow;
}

.paleturquoiseTxt {
    color: #C7FFF8;
}

.dimgrayTxt {
    color: #686868;
}
