@font-face {
    font-family: "NanumSquareB";
    src: url(fonts/NanumSquareB.woff) format("truetype");
}

@font-face {
    font-family: "NanumSquareEB";
    src: url(fonts/NanumSquareEB.woff) format("truetype");
}

@font-face {
    font-family: "NanumSquareR";
    src: url(fonts/NanumSquareR.woff) format("truetype");
}

@font-face {
    font-family: "NanumSquareL";
    src: url(fonts/NanumSquareL.woff) format("truetype");
}

@font-face {
    font-family: "CookieRun Bold";
    src: url(fonts/CookieRunBold.ttf) format("truetype");
}
