@charset "UTF-8";

.contents-card.studyBook {
    position: relative;
    width: 100%;
    margin: -1em 0;
}

.contents-card.studyBook > picture {
    display: block;
    width: 100%;
}

.contents-card.studyBook > picture img {
    display: block;
    width: 100%;
    height: auto;
}

.contents-card.studyBook .main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-width: 100%;
}

.contents-card.studyBook .main > picture {
    align-self: flex-end;
}

.contents-card.studyBook .main picture img.dora {
    max-width: 201px;
    width: 6.7em;
    height: auto;
}

.contents-card.studyBook .main .tutorial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .25em;
}



.contents-card.studyBook .main .tutorial img {
    width: 17em;
    height: auto;
}

.contents-card.studyBook .main .tutorial .step-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.contents-card.studyBook .main .tutorial .step-col img {
    width: 100%;
    height: auto;
}

.contents-card.studyBook .main .tutorial .step-col .qr-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .5em;
    width: 17em;
    margin-top: -2em;
}

.contents-card.studyBook .main .tutorial .step-col picture:nth-child(1) img {
    width: 17em;
}

.contents-card.studyBook .main .tutorial .step-col .qr-row picture img {
    width: 10.4em;
}

.contents-card.studyBook .main .tutorial .step-col > picture:last-child {
    align-self: flex-end;
}

.contents-card.studyBook .main .tutorial .step-col > picture:last-child img {
    width: 10.4em;
    margin-top: -2em;
}
