@charset "UTF-8";

.contents-card.how {
    background-image: url("../../shared/images/indigoWallpaper02.png");

    margin: -1em 0;
    padding: 5em 0;
}

.contents-card.how .main .tutorial img {
    max-width: 420px;
    width: 14em;
    margin: 1em;
}

.contents-card.how .titleStar h1 {
    color: white;
}

.contents-card.how .deco .finn {
    padding-bottom: 0;
}
