@charset "UTF-8";

.contents-card.how {
    position: relative;
    margin: -1em 0;
    padding: 5em 0 11em;
    background-image: url(images/BG_3.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font-size: clamp(0.45rem, 1.5625vw, 30px);
}

.contents-card.how .main .tutorial {
    row-gap: 0;
}

.contents-card.how .main .tutorial img {
    width: 15.9em;
    height: auto;
    margin: 0 1em;
}

.contents-card.how .titleStar h1 {
    color: white;
}

.contents-card.how .deco .finn {
    padding-bottom: 0;
}