@charset "UTF-8";

.contents-card {
    width: 100%;
    position: relative;
    margin: 1em 0 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(images/BG_1.webp);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
}

.contents-card .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B480FF;
}

.contents-card .info .description {
    font-size: 1.205em;
    line-height: 1.5em;
}

.contents-card .info .bi {
    width: 20em;
    height: auto;
    margin: .35em 0;
}

.contents-card .info .stores {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.contents-card .info .stores img {
    max-width: 200px;
    width: 6.8em;
}

@media screen and (max-width: 425px) {
    .contents-card .info .bi {
        width: 14em;
    }

    .contents-card .info .stores img {
        width: 5.5em;
    }

    .contents-card .info .description {
        font-size: .8em;
    }
}

.contents-card .titleStar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents-card .titleStar .title {
    margin: 0 .5em;
    font-family: "CookieRun Bold";
    font-size: 2.667em;
    color: #5f1aa8;
    white-space: nowrap;
}

.contents-card .description {
    line-height: 1.5em;
    font-size: 1.5em;
    white-space: normal;
}

.contents-card .main {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
}

.contents-card .main .tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3em;
    row-gap: 1em;
}

.contents-card .main .tutorial img {
    width: 18.3em;
    height: auto;
    margin: .4em .78em;
}

.contents-card .deco {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .contents-card .deco {
        display: none;
    }
}

.contents-card .deco .mico {
    max-width: 209px;
    width: 7em;

}

.contents-card .deco .conzy {
    max-width: 222px;
    width: 7.4em;

}

.contents-card .deco .malco {
    max-width: 172px;
    width: 5.8em;

}

.contents-card .deco .dora {
    max-width: 201px;
    width: 6.7em;

}

.contents-card .deco .gon {
    max-width: 201px;
    width: 6.7em;

}

.contents-card .deco .gabi {
    max-width: 201px;
    width: 6.7em;
}

.contents-card .deco .finn {
    max-width: 201px;
    width: 6.7em;
    padding-bottom: 32em;

}

.contents-card .deco .hind {
    max-width: 201px;
    width: 6.7em;
    visibility: hidden;
}

.contents-card .titleStar .star:first-child {
    max-width: 72px;
    width: 2.4em;
}

.contents-card .titleStar .star:last-child {
    max-width: 39px;
    width: 1.3em;
}

@media screen and (max-width: 667px) {
    .contents-card .titleStar .title {
        font-size: clamp(12px, 5vw, 2.667em);
    }

    .contents-card .description {
        font-size: clamp(12px, 3.5vw, 1.5em);
    }
}

@media screen and (max-width: 768px) {
    .contents-card .main {
        width: 90%;
    }
}

@media screen and (max-width: 1374px) {
    .contents-card .main .tutorial {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        width: 100%;
        margin-top: 3em;
    }

    .contents-card .main .tutorial img {
        width: 100%;
        margin: 0;
    }
}
